# General
model.directory=/path/to/models
model.train.interval.days=90
pullrequest.limit=1000
window.interval.hours=24

# R
rscript.location=/path/to/R/executable
script.directory=/path/to/R/scripts
probability.threshold=0.5
result.limit=5

# Repository
repository.owner=username
repository.name=repository-name

# GHTorrent (MySQL)
ghtorrent.host=localhost
ghtorrent.port=3306
ghtorrent.username=mysql-user
ghtorrent.password=mysql-password
ghtorrent.database=mysql-database

# GHTorrent (MongoDB)
mongodb.host=localhost
mongodb.port=27017
mongodb.username=mongo-user
mongodb.password=mongo-password
mongodb.database=mongo-database
mongodb.collection.commits=commits-collection
mongodb.collection.pullrequests=pull-requests-collection
mongodb.collection.issue.comments=issue-comments-collection
mongodb.collection.pullrequest.comments=pull-request-comments-collection
