# General
model.directory=/path/to/models

# Repository
repository.owner=username
repository.name=repository-name

# Window interval, in minutes (1 day = 60*24 min = 1440 min)
window.interval=1440

# Window count limit (0 = unlimited)
window.limit=0

# GHTorrent
ghtorrent.host=localhost
ghtorrent.port=3306
ghtorrent.user=mysql-user
ghtorrent.password=mysql-password
ghtorrent.database=mysql-database
